@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/tropphies.css" asp-append-version="true" />

    <section class="about">
        <div class="container about-content">
            <div>
                <img src="~/images/castro-cr7.webp"
                     alt="Imagem sobre o cr7" />
            </div>
            <div cLass="about-description">
            <h5 class="title">Arab Club Champions Cup</h5>
                <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
                <p>Season: <strong>2023-24</strong>  <strong></strong></p>
            </div>
        </div>
    </section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/Coppa Italia.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">Coppa Italia</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2020-21</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/supertaca.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">Supercoppa Italiana</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2020-21</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/italianao.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">Serie A</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2019-20</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/italiano.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">Serie A</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2018-19</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/uefa.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">UEFA Nations League</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2018-19</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/supertaca1.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">Supercoppa Italiana</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2018-19</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/champion17.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">UEFA Champions League</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2017–18</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/mundial 18.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">FIFA Club World Cup</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2017–18</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/mundial 18 (1).png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">Supercopa de España</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2017–18</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/mundial 18 (2).png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">UEFA Super Cup</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2017–18</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/champion17 (1).png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">UEFA Champions League</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2016–17</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/laliga17.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">La Liga</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2016–17</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/mundial17.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">FIFA Club World Cup</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2016–17</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/mundial17 (1).png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">UEFA European Championship</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2016–17</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/champion16.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">UEFA Champions League</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2015–16</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/mundial214.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">FIFA Club World Cup</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2014–15</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/super cup 2014.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">UEFA Super Cup</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2014–15</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/champions2014.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">UEFA Champions League</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2013–14</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/delrey2014.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">Copa del Rey</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2013–14</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/supercopa2014.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">Supercopa de España</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2012–13</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/laliga2012.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">La Liga</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2011–12</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/laliga2011.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">Copa del Rey</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2010–11</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/carabao.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">Carabao Cup</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2008–09</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/premier 2009.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">Premier League</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2008–09</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/fwcc.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">FIFA Club World Cup</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2008–09</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/champion 2008.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">UEFA Champions League</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2007–08</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/premier.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">Premier League</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2007–08</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/fa 2008.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">FA Community Shield</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2007–08</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/premier 2006.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">Premier League</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2006–07</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/carabao 2006.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">Carabao Cup</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2005–06</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/fa 2003.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title1">FA Cup</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2006–07</strong>  <strong></strong></p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-content">
        <div>
            <img src="~/images/supertaca 2003.png"
                 alt="Imagem sobre o cr7" />
        </div>
        <div cLass="about-description">
            <h5 class="title">Supertaça Cândido de Oliveira</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Ornare eget pellentesque proin risus. Orci</p>
            <p>Season: <strong>2002–03</strong>  <strong></strong></p>
        </div>
    </div>
</section>
