/* _content/Fodeaceaaaaaaaaaaaaaaaaaaa/Views/Shared/_Layout.cshtml.rz.scp.css */
.navbar[b-dnqf9x9fmp] {
    background-color: black; /* Adiciona cor preta à barra de navegação */
}

    nav .hamb[b-dnqf9x9fmp] {
        width: 35px;
        height: 24px;
        right: 3%;
        top: 60px;
        z-index: 5;
        background: transparent;
        position: absolute;
        cursor: pointer;
        display: none;
    }

        nav .hamb span[b-dnqf9x9fmp] {
            display: block;
            background: #0D6938;
            width: 100%;
            height: 3px;
            transition: .3s;
            transition-property: transform, opacity;
        }

    /* Lista de Navegação */
    nav .nav-list[b-dnqf9x9fmp] {
        list-style: none;
    }

        nav .nav-list li[b-dnqf9x9fmp] {
            display: inline-block;
        }

            nav .nav-list li a[b-dnqf9x9fmp] {
                display: inline-block;
                color: #eee;
                margin-left: 55px;
                font-size: 15px;
                font-weight: 600;
            }

            nav .nav-list li:not(:last-child) a:hover[b-dnqf9x9fmp] {
                color: #eee;
                transition: .4s;
            }

            nav .nav-list li.btn a[b-dnqf9x9fmp] {
                display: inline-block;
                background: transparent;
                border: 2px solid #eee;
                padding: 9px 28px;
                border-radius: 30px;
                line-height: 1.3;
                color: #eee;
                font-weight: 500;
            }

            nav .nav-list li.btn:hover a[b-dnqf9x9fmp] {
                background: #eee;
                color: black;
                border: 2px solid transparent;
                transition: .4s;
            }
