.about {
    background-color: black;
    overflow: hidden;
    color: #eee;
}

.about-content{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px
}

img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}

.about-content div{
    flex:1;
}

.about-description p{
    margin-bottom: 14px;
    line-height: 150%;
}

.about-description h5{
    font-size: 25px;
    margin-bottom: 24px;
}


.title {
    color: #0D6938;
}

.title1 {
    color: #E42518;
}

@media screen and (max-width: 935px) {
    .about-content{
        flex-direction: column;
    }

    .about-content {
        text-align: center;
    }
}